{% include multilingual-js.html key="header" %}
<a class="sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
{% include components/header/internet-explorer-message.html %}
<header role="banner" class="">
  <div class="header" >
    <div class="header-top">
        <div id="logo" class="logo-header">
            <a id="logo-link" href="https://{{ page.language }}.eustat.eus/indice.html">
                <img src="{{ site.baseurl }}/assets/img/LogoEustat.png" alt="eustat">
            </a>
            <div class="logo-header-description">
                Euskal Estatistika Erakundea<br>Instituto Vasco de Estadística
            </div>
        </div>
        <div id="trigger_home" class="menu-button">
            <img id="euskadieus-logo"src="{{ site.baseurl }}/assets/img/logo-euskadi-eus.png" alt="eustat">
            <img id="menu-button-img" src="{{ site.baseurl }}/assets/img/ham.png" alt="Mostrar/ocultar menu principal">
        </div>
    </div>
    <div class="zutabeak">
        <div class="o-content-zutabe">
            <ul>
                <li><a id="ctl00_Cabecera_cabCOL01_01" data-ajax="false" href="https://{{ page.language }}.eustat.eus/estadisticas/opt_0/id_All/temalista.html">{{ page.t.header.themes }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_02" data-ajax="false" href="https://{{ page.language }}.eustat.eus/estadisticas/opt_1/id_All/temalista.html">{{ page.t.header.operations }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_03" data-ajax="false" href="https://{{ page.language }}.eustat.eus/bancopx/spanish/indice.html">{{ page.t.header.database }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_04" data-ajax="false" onclick="cambiaTemasOperaciones(2);" href="https://{{ page.language }}.eustat.eus/indice.html#cy">{{ page.t.header.situation }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_05" data-ajax="false" href="https://{{ page.language }}.eustat.eus/municipal/datos_estadisticos/info_territorial_c.asp">{{ page.t.header.municipal_info }}</a></li>
            </ul>
        </div>
        <div class="o-content-zutabe">
            <ul>
                <li><a id="ctl00_Cabecera_cabCOL02_01" data-ajax="false" href="https://{{ page.language }}.eustat.eus/estadisticas/calendario.html">{{ page.t.header.calendar }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL02_02" data-ajax="false" href="https://{{ page.language }}.eustat.eus/productosServicios/sugerencias.html">{{ page.t.header.complaints_suggestions }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL02_03" data-ajax="false" href="https://{{ page.language }}.eustat.eusprodserv/info_c.html">{{ page.t.header.info_service }}</a></li>
                <li><a id="ctl00_Cabecera_cabCOL02_04" data-ajax="false" href="https://{{ page.language }}.eustat.eus/notas_c.html">{{ page.t.header.press_service }}</a></li>
            </ul>
        </div>
        <div class="o-content-zutabe">
            <div class="rrss">
                <span class="texto-rrss">
                  {{ page.t.header.follow_us }}
                </span>
                <div class="iconos-rrss">
                    <a href="https://es.linkedin.com/company/eustat" target="_blank" title="LinkedIn"
                        style="display:inline-block;"><img class="sociales" alt="LinkedIn"
                            src="{{ site.baseurl }}/assets/img/rrss/linkedin.gif"></a>
                    <a href="http://www.facebook.com/eustat" target="_blank" title="Facebook"
                        style="display:inline-block;"><img class="sociales" alt="Facebook"
                            src="{{ site.baseurl }}/assets/img/rrss/facebook.gif"></a>
                    <a href="http://twitter.com/eustat" target="_blank" title="X"
                        style="display:inline-block;"><img class="sociales" alt="X"
                            src="{{ site.baseurl }}/assets/img/rrss/X.gif"></a>
                    <a href="https://bsky.app/profile/eustat.eus" target="_blank" title="BlueSky"
                        style="display:inline-block;"><img class="sociales" alt="BlueSky"
                            src="{{ site.baseurl }}/assets/img/rrss/BlueSky.png"></a>
                    <a href="https://www.youtube.com/user/eustat1986/" target="_blank" title="Youtube"
                        style="display:inline-block;"><img class="sociales" alt="Youtube"
                            src="{{ site.baseurl }}/assets/img/rrss/youtube.png"></a>
                    <a href="https://{{ page.language }}.eustat.eus/web/comun/extractorclobRSS.ashx?id=/rss/novedades_c.xml"
                        target="_blank" title="Rss novedades" style="display:inline-block;"><img
                            class="sociales" alt="Rss novedades" src="{{ site.baseurl }}/assets/img/rrss/rss2.png"></a>
                </div>
            </div>
        </div>
    </div><!-- zutabeak -->
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM completamente cargado y procesado');
    var container = document.querySelector('.header');
    var zutabeak = document.querySelector('.zutabeak');

    function buildCanvas() {
        document.getElementById('trigger_home').addEventListener('click', function (e) {
            console.log("hey");
            
            e.preventDefault();
            container.classList.toggle('active');
            zutabeak.classList.toggle('active');
            if (container.classList.contains('active')) {
                
                document.getElementById('menu-button-img').src = "{{ site.baseurl }}/assets/img/aspa.png";
               
            } else {
                document.getElementById('menu-button-img').src = "{{ site.baseurl }}/assets/img/ham.png";
                
            }
        });
    }

    buildCanvas();

    window.addEventListener('resize', function () {
        var content = document.querySelector('.o-content');
        if (content) {
            cHeight = content.offsetHeight;
        }
    });

    window.addEventListener('scroll', function () {
        if (window.scrollY > 500) {
            var btn = document.querySelector('.scrollup');
            if (btn) { btn.style.display = 'block'; }
        } else {
            var btn = document.querySelector('.scrollup');
            if (btn) { btn.style.display = 'none'; }
        }
    });
});
</script>
  <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light flex-wrap align-items-start">
            {% include components/header/logo.html %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ page.t.header.show_menu }}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex flex-wrap w-100 justify-content-between">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% include navigation.html dropdowns=true %}
                </div>
                <div class="header-search-bar">
                    {% include search.html %}
                </div>
                <div class="header-toggles d-flex">
                    {%- if site.languages.size > 1 and site.header_language_toggle != 'none' -%}
                    {% include components/language-toggle.html %}
                    <span class="no-js-language-toggle">{% include components/language-toggle-links.html %}</span>
                    {%- endif -%}
                    {% include components/contrast-toggle.html %}
                </div>
            </div>
        </nav>
    </div>
</header>
{% include components/page-top.html %}
