// Enter any custom Sass in this file.

body {
  background: white;
  padding-top: 0; 
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.42857143;
}

/* Regla para alto contraste */
body.contrast-high .header {
    background-color: #000000;
}

#logo-link{
  background-color: transparent !important;
  box-shadow: none !important;
}

header .container{
  margin-top: 15px;
}

.main-content-pages{
  padding: 0px 10vw 50px !important;
  text-align: justify;
}

.main-content-pages h1,
.main-content-pages h2,
.main-content-pages h3,
.main-content-pages h4,
.main-content-pages h5,
.main-content-pages h6 {
  text-align: left;
}

.frontpage-goals-grid{
  margin: 0px 0 20px 0;
}

.header{
  background-color: #013161;
  
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  height: 50px;
}

.header .logo-header{
  display: flex;
  align-items: center;
}

.header .logo-header img{
  height: 50px;
}
.header  #euskadieus-logo{
  width: 9em;
}

.header .logo-header-description{
  border-left: 1px solid #fdbd03;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding-left: 6px;
  margin-left: 4px;
  line-height: 13px;
  display: inline-block;
  vertical-align: middle;
}

.menu-button{
  padding-right: 0.5rem;
  cursor:pointer;
}
.zutabeak{
  display: none;
  padding-bottom: 1rem;
}
.zutabeak.active{
  display: flex;
  justify-content: flex-end;
}
.o-content-zutabe li a {
  font-weight: normal;
  color: white;
  font-size: 90%;
  text-decoration: none;
}
.o-content-zutabe li {
  padding: .3em 0;
}
.o-content-zutabe ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  padding:0 .6em;
}

.o-content-zutabe {
  border-left: 1px dotted #0263bf;
  width: 200px;
}

.rrss{
  padding: 5px 20px 5px 5px;
  font-size: 14px;
}


@media (max-width: 560px) {
  .header .logo-header-description {
    display: none;
  }
}
@media (max-width: 770px) {
  .o-content-zutabe ul li {
      width: 100%;
      border-bottom: 2px dotted #696969;
  }
  .o-content-zutabe {
      border-left: none;
      width: 100%;

  }
  .zutabeak.active{
      display: flex;
      justify-content:flex-start;
      flex-direction: column;
  }
}


/* Regla para alto contraste */
body.contrast-high .marcopie {
    background-color: #000000; 
}

.marcopie {
  padding: 15px 0 15px 0;
  background-color: #013161;
  display: flex;    
}
.enlaces {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.piederecho-texto {
  display: flex;
  flex-direction: column;
  text-align: right;
}


.piederecho {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px 30px;
  width: 50%;
  border-left: 1px solid white;
  }

.logos-rrss-pie {
  display: flex;
  flex-direction: column;
}
.logos {
  display: flex;
}
.texto-rrss{
  color: white;
}
.bold {
  font-weight: bold;
}

.piederechop {
  color: white;
  font-size: 0.9em;
}

.enlaceblanco {
    color: white !important;
    text-decoration: none;
}

ul.iconillo {
    list-style-image: url(https://www.eustat.eus/cwImages/2015/listapie.gif);
}

@media (max-width: 930px) {
  .marcopie {
      flex-direction: column;
      align-items: center;
    }
    .piederecho {
      border-left: none;
      border-top: 1px solid white;
      width: 90%;
    }
    .enlaces {
      width: 100%;
    }
}
@media (max-width: 600px) {
  
    .piederecho {
      flex-direction: column;
      align-items: center;
    }
    .piederecho-texto {
      text-align: center;
    }
    
}


// Otros custom (por US)

// Navegación

.btn-label {
  color: white;
}
.G1-background {
  background-color: #E5243B;
  border-color: transparent;
  margin-bottom: 5px;}
.G1-background:hover {
  background-color: #B71D2F;
  border-color: transparent;
  margin-bottom: 5px;}
.G2-background {
  background-color: #E5B735;
  border-color: transparent;
  margin-bottom: 5px;}
.G2-background:hover {
  background-color: #CEA530;
  border-color: transparent;
  margin-bottom: 5px;}
.G3-background {
  background-color: #4C9F38;
  border-color: transparent;
  margin-bottom: 5px;}
.G3-background:hover {
  background-color: #3D7F2D;
  border-color: transparent;
  margin-bottom: 5px;}
.G4-background {
  background-color: #C5192D;
  border-color: transparent;
  margin-bottom: 5px;}
.G4-background:hover {
  background-color: #9E1424;
  border-color: transparent;
  margin-bottom: 5px;}
.G5-background {
  background-color: #FF3A21;
  border-color: transparent;
  margin-bottom: 5px;}
.G5-background:hover {
  background-color: #CC2E1A;
  border-color: transparent;
  margin-bottom: 5px;}
.G6-background {
  background-color: #26BDE2;
  border-color: transparent;
  margin-bottom: 5px;}
.G6-background:hover {
  background-color: #1E97B5;
  border-color: transparent;
  margin-bottom: 5px;}
.G7-background {
  background-color: #FCC30B;
  border-color: transparent;
  margin-bottom: 5px;}
.G7-background:hover {
  background-color: #CA9C09;
  border-color: transparent;
  margin-bottom: 5px;}
.G8-background {
  background-color: #A21942;
  border-color: transparent;
  margin-bottom: 5px;}
.G8-background:hover {
  background-color: #821435;
  border-color: transparent;
  margin-bottom: 5px;}
.G9-background {
  background-color: #FD6925;
  border-color: transparent;
  margin-bottom: 5px;}
.G9-background:hover {
  background-color: #CA541E;
  border-color: transparent;
  margin-bottom: 5px;}
.G10-background {
  background-color: #DD1367;
  border-color: transparent;
  margin-bottom: 5px;}
.G10-background:hover {
  background-color: #B10F52;
  border-color: transparent;
  margin-bottom: 5px;}
.G11-background {
  background-color: #FD9D00;
  border-color: transparent;
  margin-bottom: 5px;}
.G11-background:hover {
  background-color: #CA7E00;
  border-color: transparent;
  margin-bottom: 5px;}
.G12-background {
  background-color: #C9992D;
  border-color: transparent;
  margin-bottom: 5px;}
.G12-background:hover {
  background-color: #A17A24;
  border-color: transparent;
  margin-bottom: 5px;}
.G13-background {
  background-color: #3F7E44;
  border-color: transparent;
  margin-bottom: 5px;}
.G13-background:hover {
  background-color: #326536;
  border-color: transparent;
  margin-bottom: 5px;}
.G14-background {
  background-color: #0A97D9;
  border-color: transparent;
  margin-bottom: 5px;}
.G14-background:hover {
  background-color: #0879AE;
  border-color: transparent;
  margin-bottom: 5px;}
.G15-background {
  background-color: #56C02B;
  border-color: transparent;
  margin-bottom: 5px;}
.G15-background:hover {
  background-color: #459A22;
  border-color: transparent;
  margin-bottom: 5px;}
.G16-background {
  background-color: #00689D;
  border-color: transparent;
  margin-bottom: 5px;}
.G16-background:hover {
  background-color: #00537E;
  border-color: transparent;
  margin-bottom: 5px;}
.G17-background {
  background-color: #19486A;
  border-color: transparent;
  margin-bottom: 5px;}
.G17-background:hover {
  background-color: #143A55;
  border-color: transparent;
  margin-bottom: 5px;}

// Barra con iconos de los objetivos para las páginas de objetivos
.ods-navigation {
    background-color: transparent; /* Fondo transparente */
    padding: 10px 0; /* Espacio vertical */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los íconos */
}

.ods-item {
    text-align: center;
    opacity: 0.5;
    flex: 0 0 auto; /* Ajuste para que los íconos ocupen solo el espacio necesario */
    transition: opacity 0.3s ease, border 0.3s ease; /* Transiciones suaves */
    border: 2px solid transparent; /* Borde invisible por defecto */
}

.ods-item img {
    width: 60px; /* Tamaño del ícono */
    height: auto;
    filter: grayscale(100%); /* Aplica un filtro gris */
    transition: filter 0.3s ease; /* Transición suave para el color */
}

.ods-item:hover {
    opacity: 1;
}

.ods-item:hover img {
    filter: grayscale(0); /* Elimina el filtro gris al hacer hover */
}

.ods-selected {
    opacity: 1;
}

.ods-selected img {
    filter: grayscale(0); /* Mantiene el color original del ícono seleccionado */
}

@media only screen and (min-width: 1200px) {
    .ods-navigation {
        justify-content: space-between; /* Asegura que todos los íconos se distribuyan en una línea en pantallas grandes */
    }
    .ods-item {
        flex: 1; /* Asegura que los íconos ocupen todo el ancho disponible */
        max-width: 6%; /* Aproximadamente 20 íconos por línea en pantallas grandes */
    }
}

@media only screen and (min-width: 1400px) {
    .ods-item {
        max-width: 5%; /* Aproximadamente 20 íconos por línea en pantallas grandes */
    }
}

@media only screen and (max-width: 768px) {
    .ods-item {
        flex: 0 0 11%; /* Aproximadamente 9 íconos por línea en pantallas pequeñas */
    }
}


// Nuevos estados
.alcanzado {background-color: #45ba80; background: #45ba80;}
.progreso {background-color: #fec329; background: #fec329;}
.retroceso {background-color: #db405a; background: #db405a;}
.noevaluado {background-color: #ccd5dd; background: #ccd5dd;}


// Progress status
.layout-progrestatus {
    .reporting-status-description {
        margin-bottom: 25px;
    }

    #main-content {
        .statuses {
            strong {
                font-weight: normal;
            }
            > div {
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 10px;

                .status {
                    border: none !important;
                    @include status;
                    display: inline-block;
                    margin-right: 3px;
                    padding: 2px 5px;
                    border-radius: 4px;
                    width: 40px;
                    text-align: center;
                    font-size: $fontSize;

  .status-inner {
    padding: 0 2px;
    border-radius: 5px; // Mantén los bordes redondeados si es necesario.
    color: #000; // Texto negro para todos.
}
                }
            }
        }
        .value {
            color: $text-color;
            font-weight: bold;
            margin-left: 3px;
        }
        .goal-stats {
            @include preserveOriginalColors;
            border: 1px solid $color-dark;
            font-size: 0;
            margin-top: 10px;
            & span {
                display: inline-block;
                height: 10px;
                font-weight: bold;
            }
            .notapplicable {
                background-color: $status-backgroundColor-notapplicable;
                background: $status-backgroundColor-notapplicable;
            }
            .notstarted {
                background-color: $status-backgroundColor-notstarted;
                background: $status-backgroundColor-notstarted;
            }
// Otros estados de progreso

                        .alcanzado {background-color: #45ba80;
                                   background: #45ba80;}
                        .progreso {background-color: #fec329;
                                               background: #fec329;}
                        .retroceso {background-color: #db405a;
                                           background: #db405a;}
                        .noevaluado {background-color: #ccd5dd;
                                       background: #ccd5dd;}
        }
        .divider {
            height: 15px;
        }
        .goal {
            clear: left;
            margin-bottom: 4px;
            padding-bottom: 4px;
            border-bottom: 1px solid $horizontalRule-color;
            .total {
                line-height: 1.2;
                font-size: $fontSize;
                width: auto;
                padding-left: 4px;
                padding-right: 4px;
                text-align: center;
                display: inline-block;
                margin-bottom: 10px;
                border-radius: 4px;
                border: 1px solid $horizontalRule-color;
                @media screen and (min-width: 520px) {
                    margin-left: 10px;
                }
            }
        }
        .frame {
            width: 115px;
            float: left;
            min-height: 1px;
            > a {
                display: block;
                width: calc(100% - 15px);
                &:focus {
                    outline: 2px $text-color solid !important;
                    .goal-icon-image {
                        outline: 8px $focusOutlineColor solid !important;
                    }
                }
            }
        }
        .details {
            width: calc(100% - 125px);
            float: left;
            h2 {
                margin-top: 0;
                @media screen and (min-width: 520px) {
                    display: inline-block;
                }
            }
            h3 {
                margin-top: 10px;
                @media screen and (min-width: 520px) {
                    display: inline-block;
                }
                @media only screen and (max-width: 720px) {
                    margin-top: 3px;
                }
                @media only screen and (max-width: 520px) {
                    margin-bottom: 3px;
                }
                line-height: 1.2;
            }
        }
        [data-extra-field] {
            .details {
                width: 100%;
            }
        }
        .goal-overall {
            margin-bottom: 20px;
        }
    }

    #main-content .reporting-status-item {
        margin-bottom: 20px;
    }

    &.contrast-high {
        #main-content {
            .goal-tiles {
                img {
                    background-color: black !important;
                }
            }

            .goal-stats {
                border: 1px solid $color-light-highContrast !important;
                .notapplicable {
                    background-color: $status-backgroundColor-notapplicable-highContrast;
                    background: $status-backgroundColor-notapplicable-highContrast;
                }
                .notstarted {
                    background-color: $status-backgroundColor-notstarted-highContrast;
                    background: $status-backgroundColor-notstarted-highContrast;
                }
                .inprogress {
                    background-color: $status-backgroundColor-inprogress-highContrast;
                    background: $status-backgroundColor-inprogress-highContrast;
                }
                .complete {
                    background-color: $status-backgroundColor-complete-highContrast;
                    background: $status-backgroundColor-complete-highContrast;
                }
            }

            .statuses {
                strong {
                    color: $color-light-highContrast;
                }
                .value {
                    color: $color-light-highContrast !important;
                }
                .status {
                    @include statusHighContrast;
                    border: none !important;
                    &.notstarted {
                        border: $status-border-notstarted-highContrast !important;
                    }
                }
            }
        }
    }
}
